In [22]:
import pandas as pd
import numpy as np
from pathlib import Path
import os
import logging

In [23]:
df=pd.read_csv(os.path.normpath(r"C:\Users\denni\Desktop\influencer recommender\data\influencer_data_with_scores.csv"))

In [40]:
df.head()

,influencer_id,Number of subscribers,followers,average_likes,average_comments,average_shares,budget_per_video,engagement_rate,follower_growth_rate,score,primary_platform_Facebook,primary_platform_Instagram,primary_platform_YouTube,Targetaudience_gender_Female,Targetaudience_gender_Male,Targetaudience_gender_Others,product_category_Accessories,product_category_Clothing,product_category_Cosmetics,Geographical location: state of India_Gujarat,Geographical location: state of India_Kerala,Geographical location: state of India_Maharashtra,Geographical location: state of India_Punjab,Geographical location: state of India_Rajasthan,Geographical location: state of India_Sikkim,Geographical location: state of India_Tamil Nadu,LL_age,UL_age,campaign duration_transform
0,1,105142,391772,21984,7208,3155,109502,3.8,6.2,3.4,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,25,35,3
1,2,862142,142983,41491,4741,1587,89273,6.0,5.7,4.8,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,5,15,12
2,3,592238,115478,4553,9401,458,54846,4.3,1.7,3.2,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,5,15,3
3,4,845945,275433,16808,1124,311,127661,9.8,10.0,5.1,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0,25,35,24
4,5,833454,88199,9059,371,971,86639,4.7,2.8,3.8,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,35,45,6

In [25]:
cols_to_drop=['past_campaign_success','pat_campaign_success_rate']

In [26]:
df.drop(columns=cols_to_drop,inplace=True)

In [27]:
categorical_cols = ['primary_platform', 'Targetaudience_gender', 'product_category','Geographical location: state of India']
df_encoded = pd.get_dummies(df[categorical_cols],dtype=np.int16)

In [28]:
df=pd.concat([df.drop(columns=categorical_cols),df_encoded],axis=1)

In [29]:
df.iloc[:5,:12]

,influencer_id,Number of subscribers,followers,average_likes,average_comments,average_shares,Targeted_audience_age,budget_per_video,engagement_rate,follower_growth_rate,campaign duration,score
0,1,105142,391772,21984,7208,3155,25 to 35,109502,3.8,6.2,3 months,3.4
1,2,862142,142983,41491,4741,1587,5 to 15,89273,6.0,5.7,1 year,4.8
2,3,592238,115478,4553,9401,458,5 to 15,54846,4.3,1.7,3 months,3.2
3,4,845945,275433,16808,1124,311,25 to 35,127661,9.8,10.0,2 years,5.1
4,5,833454,88199,9059,371,971,35 to 45,86639,4.7,2.8,6 months,3.8

In [30]:
df['LL_age']=df['Targeted_audience_age'].apply(lambda x:x.split("to")[0]).astype( np.int16)
df['UL_age']=df['Targeted_audience_age'].apply(lambda x:x.split("to")[1]).astype(np.int16)

In [31]:
df.drop(columns=['Targeted_audience_age'],inplace=True)

In [32]:
df.iloc[:5,:]

,influencer_id,Number of subscribers,followers,average_likes,average_comments,average_shares,budget_per_video,engagement_rate,follower_growth_rate,campaign duration,score,primary_platform_Facebook,primary_platform_Instagram,primary_platform_YouTube,Targetaudience_gender_Female,Targetaudience_gender_Male,Targetaudience_gender_Others,product_category_Accessories,product_category_Clothing,product_category_Cosmetics,Geographical location: state of India_Gujarat,Geographical location: state of India_Kerala,Geographical location: state of India_Maharashtra,Geographical location: state of India_Punjab,Geographical location: state of India_Rajasthan,Geographical location: state of India_Sikkim,Geographical location: state of India_Tamil Nadu,LL_age,UL_age
0,1,105142,391772,21984,7208,3155,109502,3.8,6.2,3 months,3.4,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,25,35
1,2,862142,142983,41491,4741,1587,89273,6.0,5.7,1 year,4.8,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,5,15
2,3,592238,115478,4553,9401,458,54846,4.3,1.7,3 months,3.2,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,5,15
3,4,845945,275433,16808,1124,311,127661,9.8,10.0,2 years,5.1,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0,25,35
4,5,833454,88199,9059,371,971,86639,4.7,2.8,6 months,3.8,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,35,45

In [33]:
def year_to_month(text):
    if("year" in text):
        return int(text.split(" ")[0])*12
    else:
        return int(text.split(" ")[0])

In [34]:
df['campaign duration_transform']=df['campaign duration'].apply(year_to_month)

In [35]:
df.drop(columns='campaign duration',inplace=True)

In [36]:
pd.options.display.max_info_columns = None

ValueError: Value must have type '<class 'int'>'

In [37]:
pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.max_rows', None)     # Display all rows
pd.set_option('display.max_colwidth', None)
df.head()

,influencer_id,Number of subscribers,followers,average_likes,average_comments,average_shares,budget_per_video,engagement_rate,follower_growth_rate,score,primary_platform_Facebook,primary_platform_Instagram,primary_platform_YouTube,Targetaudience_gender_Female,Targetaudience_gender_Male,Targetaudience_gender_Others,product_category_Accessories,product_category_Clothing,product_category_Cosmetics,Geographical location: state of India_Gujarat,Geographical location: state of India_Kerala,Geographical location: state of India_Maharashtra,Geographical location: state of India_Punjab,Geographical location: state of India_Rajasthan,Geographical location: state of India_Sikkim,Geographical location: state of India_Tamil Nadu,LL_age,UL_age,campaign duration_transform
0,1,105142,391772,21984,7208,3155,109502,3.8,6.2,3.4,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,25,35,3
1,2,862142,142983,41491,4741,1587,89273,6.0,5.7,4.8,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,5,15,12
2,3,592238,115478,4553,9401,458,54846,4.3,1.7,3.2,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,5,15,3
3,4,845945,275433,16808,1124,311,127661,9.8,10.0,5.1,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0,25,35,24
4,5,833454,88199,9059,371,971,86639,4.7,2.8,3.8,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,35,45,6

In [38]:
df.columns

Index(['influencer_id', 'Number of subscribers', 'followers', 'average_likes',
       'average_comments', 'average_shares', 'budget_per_video',
       'engagement_rate', 'follower_growth_rate', 'score',
       'primary_platform_Facebook', 'primary_platform_Instagram',
       'primary_platform_YouTube', 'Targetaudience_gender_Female',
       'Targetaudience_gender_Male', 'Targetaudience_gender_Others',
       'product_category_Accessories', 'product_category_Clothing',
       'product_category_Cosmetics',
       'Geographical location: state of India_Gujarat',
       'Geographical location: state of India_Kerala',
       'Geographical location: state of India_Maharashtra',
       'Geographical location: state of India_Punjab',
       'Geographical location: state of India_Rajasthan',
       'Geographical location: state of India_Sikkim',
       'Geographical location: state of India_Tamil Nadu', 'LL_age', 'UL_age',
       'campaign duration_transform'],
      dtype='object')

In [42]:
from sklearn.preprocessing import MinMaxScaler
columns_to_normalize = [
    'Number of subscribers', 'followers', 'average_likes', 'average_comments',
    'average_shares', 'budget_per_video', 'engagement_rate',
    'follower_growth_rate', 'LL_age', 'UL_age', 'campaign duration_transform'
]

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Apply the scaler to the columns
df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

In [43]:
df.head()

,influencer_id,Number of subscribers,followers,average_likes,average_comments,average_shares,budget_per_video,engagement_rate,follower_growth_rate,score,primary_platform_Facebook,primary_platform_Instagram,primary_platform_YouTube,Targetaudience_gender_Female,Targetaudience_gender_Male,Targetaudience_gender_Others,product_category_Accessories,product_category_Clothing,product_category_Cosmetics,Geographical location: state of India_Gujarat,Geographical location: state of India_Kerala,Geographical location: state of India_Maharashtra,Geographical location: state of India_Punjab,Geographical location: state of India_Rajasthan,Geographical location: state of India_Sikkim,Geographical location: state of India_Tamil Nadu,LL_age,UL_age,campaign duration_transform
0,1,0.058007,0.780822,0.428478,0.718415,0.628901,0.594020,0.311111,0.577778,3.4,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0.666667,0.666667,0.086957
1,2,0.855426,0.271119,0.826873,0.469072,0.311107,0.391115,0.555556,0.522222,4.8,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0.000000,0.000000,0.478261
2,3,0.571111,0.214769,0.072482,0.940065,0.082286,0.045799,0.366667,0.077778,3.2,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0.000000,0.000000,0.086957
3,4,0.838364,0.542474,0.322768,0.103497,0.052493,0.776162,0.977778,1.000000,5.1,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0.666667,0.666667,1.000000
4,5,0.825206,0.158881,0.164509,0.027390,0.186259,0.364695,0.411111,0.200000,3.8,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1.000000,1.000000,0.217391

In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score
# Separating features and target
X = df.drop(columns=['influencer_id', 'score'])
y = df['score']

# Splitting data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Creating the XGBoost model
model = xgb.XGBRegressor(objective='reg:squarederror', n_estimators=100, seed=42)

# Training the model
model.fit(X_train, y_train)

# Predicting on the test set
y_pred = model.predict(X_test)

# Evaluating the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared Score: {r2}")

# Optional: print feature importances
# feature_importances = model.feature_importances_
# for feature, importance in zip(X.columns, feature_importances):
#     print(f"{feature}: {importance}")

Mean Squared Error: 0.7583364927363004
R-squared Score: 0.4723550318690084
Number of subscribers: 0.011166644282639027
followers: 0.14860357344150543
average_likes: 0.09645537286996841
average_comments: 0.02077001892030239
average_shares: 0.021577147766947746
budget_per_video: 0.02169983461499214
engagement_rate: 0.1363552063703537
follower_growth_rate: 0.1549951136112213
primary_platform_Facebook: 0.007861379534006119
primary_platform_Instagram: 0.01208498328924179
primary_platform_YouTube: 0.02469736523926258
Targetaudience_gender_Female: 0.025582194328308105
Targetaudience_gender_Male: 0.042851872742176056
Targetaudience_gender_Others: 0.0333234965801239
product_category_Accessories: 0.019163668155670166
product_category_Clothing: 0.04153658449649811
product_category_Cosmetics: 0.0055360267870128155
Geographical location: state of India_Gujarat: 0.009111035615205765
Geographical location: state of India_Kerala: 0.06442274898290634
Geographical location: state of India_Maharashtra: 0.006582627072930336
Geographical location: state of India_Punjab: 0.027189213782548904
Geographical location: state of India_Rajasthan: 0.0044352528639137745
Geographical location: state of India_Sikkim: 0.012229356914758682
Geographical location: state of India_Tamil Nadu: 0.008603762835264206
LL_age: 0.020780310034751892
UL_age: 0.0
campaign duration_transform: 0.022385114803910255